<span>
    <button id="pf2e-rpg-export-actor">
        <i class="fas fa-file-export"></i>
        {{localize "pf2e-rpg-numbers.menu.settings.buttons.export"}}
    </button>
    <button id="pf2e-rpg-import-actor">
        <i class="fas fa-file-import"></i>
        {{localize "pf2e-rpg-numbers.menu.settings.buttons.import"}}
    </button>
</span>