<div class="form-group">
    <label
        for="settings.token.rotation.offset"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.token.rotation-offset.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.token.rotation-offset.name"}}
    </label>
    {{rangePicker value=settings.rotation.offset name="settings.token.rotation.offset" step=1 min=0 max=360}}
</div>