<h1 data-tooltip="">
    {{localize {{header}}}}}}
</h1>
<div>
    {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-section.hbs'|'header':'base'}}
</div>
<div>
    {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-section.hbs'|'header':'strike'}}
</div>
<div>
    {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-section.hbs'|'header':'check'}}
</div>
<div>
    {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-section.hbs'|'header':'save'}}
</div>