<span>
    <section class="content pf2e-rpg-config-form form">
        {{#each tabs as |tab|}}
        <div class="tab" data-tab="{{tab.id}}" data-group="primary-tabs">
            {{#if tab.success}}
            {{> 'modules/pf2e-rpg-numbers/templates/settings/tabs/home.hbs' this}}
            {{/if}}
            {{#if tab.failure}}
            {{> 'modules/pf2e-rpg-numbers/templates/settings/tabs/rolls.hbs' this}}
            {{/if}}
        </div>
        {{/each}}
</span>