{{#if success}}
    <h2>{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.headers.success"}}
        <i class="fa-solid fa-check"></i></h2>
{{/if}}
{{#if failure}}
    <h2>{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.headers.failure"}}
    <i class="fa-solid fa-xmark"></i>
    </h2>
{{/if}}
<div>
    {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-section.hbs' this section="default" default=true type=type data=data.default}}
</div>
<hr />
<div>
    {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-section.hbs' this section="strikes" strikes=true type=type data=data.strikes}}
</div>
<hr />
<div>
    {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-section.hbs' this section="checks" checks=true type=type data=data.checks}}
</div>
<hr />
<div>
    {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-section.hbs' this section="saves" saves=true type=type data=data.saves}}
</div>