<span>
    <div class="row">
        <div class="column success" data-type="success">
            {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-tab.hbs' this success=true type='success' data=settings.tabs.success}}
        </div>
        <div class="separator"></div>
        <div class="column failure" data-type="failure">
            {{> 'modules/pf2e-rpg-numbers/templates/actor-settings/tabs/critical/critical-tab.hbs' this failure=true type='failure' data=settings.tabs.failure}}
        </div>
    </div>
</span>