<form>
  <div class="form-group">
    <label for="color">Finisher Color</label>
    <input type="color" name="color" value="{{color}}">
  </div>
  <div class="form-group">
    <label>Items</label>
    <div class="finisher-items">
      <div class="form-group finisher-header">
        <span class="header-predicate">Predicate</span>
        <span class="header-only-crit">Only Crit?</span>
        <span class="header-finisher-text">Finisher Text</span>
        <span class="header-action">Action</span>
      </div>
      {{#each items}}
      <div class="form-group finisher-item">
        <input type="text" name="predicate.{{@index}}" value="{{this.predicate}}" placeholder="Predicate">
        <input type="checkbox" name="onlyCrit.{{@index}}" {{#if this.onlyCrit}}checked{{/if}}>
        <input type="text" name="finisherText.{{@index}}" value="{{this.finisherText}}" placeholder="Finisher Text">
        <button type="button" class="delete-row">Delete</button>
      </div>
      {{/each}}
    </div>
  </div>
  <button type="button" class="add-row">Add Row</button>
  <button type="submit">Submit</button>
</form>