<nav class="sheet-tabs tabs" data-group="primary-tabs">
  <a class="item" data-tab="tab-main" data-group="primary-tabs"><i class="fa-solid fa-dragon"></i>Main</li>
  <a class="item" data-tab="tab-dmg-num" data-group="primary-tabs"><i class="fa-solid fa-hashtag"></i>Damage</li>
  <a class="item" data-tab="tab-check-num" data-group="primary-tabs"><i class="fa-solid fa-dice-d20"></i>Checks</li>
  <a class="item" data-tab="tab-screen-shake" data-group="primary-tabs"><i class="fa-solid fa-display"></i>Shake</li>
  <a class="item" data-tab="tab-tok-shake" data-group="primary-tabs"><i class="fa-solid fa-circle-user"></i>Shake</li>
  <a class="item" data-tab="tab-tok-rotate" data-group="primary-tabs"><i class="fa-solid fa-circle-user"></i>Rotate</li>
  <a class="item" data-tab="tab-critical" data-group="primary-tabs"><i class="fa-solid fa-dice-d20"></i>Critical</li>
  <a class="item" data-tab="tab-finishing-move" data-group="primary-tabs"><i class="fa-solid fa-wand-sparkles"></i>Moves</li>
</nav>

<form id="config-tabs" class="content">
  <div class="tab" data-tab="tab-main" data-group="sections primary-tabs">
      <div class="form-group">
          <label>Enabled</label>
          <input type="checkbox" name="gmAutoAttack" data-dtype="Boolean" checked />
        </div>

</div>
  <div class="tab" data-tab="tab-dmg-num" data-group="sections primary-tabs">Tab 2</div>
  <div class="tab" data-tab="tab-check-num" data-group="sections primary-tabs">Tab 2</div>
  <div class="tab" data-tab="tab-screen-shake" data-group="sections primary-tabs">Tab 2</div>
  <div class="tab" data-tab="tab-tok-shake" data-group="sections primary-tabs">Tab 2</div>
  <div class="tab" data-tab="tab-tok-rotate" data-group="sections primary-tabs">Tab 2</div>
  <div class="tab" data-tab="tab-critical" data-group="sections primary-tabs">Tab 2</div>
  <div class="tab" data-tab="tab-finishing-move" data-group="sections primary-tabs">Tab 2</div>
</form>