---
---

@import "vendor/tailwind";
@import "garden";
@import "search";

.video-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.video-column {
    flex: 0 0 33.33%;
    padding: 0 10px;
    text-align: center; /* Center align captions */

    video {
        width: 100%;
        height: auto;
    }
}

.caption {
    font-size: 0.9em; /* Smaller text for captions */
    color: #555; /* Gray color for captions */
    margin-top: 5px; /* Space between video and caption */
}

@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
    }

    .video-column {
        flex: 1 0 100%;
        margin-bottom: 20px;
    }
}

/* Dark theme with old RPG style */
body {
    background-color: #fffaf2;
}
