{{! Enabled }}
<div class="form-group">
    <label for="settings.enabled" data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.enabled.hint"}}">
        {{localize "pf2e-rpg-numbers.module-settings.enabled.name"}}
    </label>
    <input type="checkbox" id="settings.enabled" name="settings.enabled" {{checked settings.enabled}} />
</div>