<form>
    <h2>RPG #s</h2>
    <div class="form-group">
        <label for="settings.enabled">{{localize "pf2e-rpg-numbers.module-settings.enabled.name"}}</label>
        <input type="checkbox" id="settings.enabled" name="settings.enabled" value="{{settings.enabled}}" />
    </div>
    <h3></h3>
    {{localize "pf2e-rpg-numbers.module-settings.enabled.hint"}}
</form>