<form>
    <h2>RPG #s</h2>
    <div class="form-group" data-tooltip="{{localize " pf2e-rpg-numbers.module-settings.enabled.hint"}}">
        <label for="settings.enabled">{{localize "pf2e-rpg-numbers.module-settings.enabled.name"}}</label>
        <input type="checkbox" id="settings.enabled" name="settings.enabled" {{#if settings.enabled}}checked{{/if}} />
        {{localize "pf2e-rpg-numbers.module-settings.enabled.hint"}}
    </div>
</form>